/* line 8, ../../app/assets/stylesheets/cards.css.scss */
.card-body {
  font-size: 12px;
}

/* line 11, ../../app/assets/stylesheets/cards.css.scss */
.card-author {
  font-size: 12px;
  color: #929292;
}

/* line 15, ../../app/assets/stylesheets/cards.css.scss */
.card-date {
  float: right;
  font-size: 10px;
}

/* line 19, ../../app/assets/stylesheets/cards.css.scss */
.card-expand {
  font-size: 12px;
}

/* line 22, ../../app/assets/stylesheets/cards.css.scss */
.card-title {
  font-weight: bold;
}

/* line 26, ../../app/assets/stylesheets/cards.css.scss */
.card-star {
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;
}

/* line 31, ../../app/assets/stylesheets/cards.css.scss */
.card-star:hover {
  background-image: url("bullets/bullet_star_gold.png");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: right top;
}
