.dashboard-carousel.caption-box{
  background: rgba(59, 58, 64, 0.6);
  padding: 20px;
  text-align: left;
  position: relative;
  width: 50%;
  top: 8em;
  left: 50%;
  padding-top: 1px;
}

.dashboard-carousel.carousel-inner {
  height: 29em;
}

.lead.news-text {
    font-size: 16px;
}

.dashboard-carousel h3 {
    font-size:  18px;
    color: orange;
}


/* *** IMAGES *** */


.dashboard-carousel-bg{
  background-image:url('http://www.userlogos.org/files/backgrounds/macleod.mac/slate.jpg');
}
.dashboard-carousel.carousel-inner > .item {
  background-size: auto 100%;
  background-position: center top;
  background-repeat: repeat;
    background-attachment: fixed;
}
