/* line 7, ../../app/assets/stylesheets/users.css.scss */
.divider {
  width: 100%;
  float: left;
}

/* line 11, ../../app/assets/stylesheets/users.css.scss */
.user-profile {
  position: relative;
  top: -3.5em;
  background-position: center top;
  background-attachment: fixed;
  padding-bottom: 5em;
  background: #deefff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #deefff 0%, #98bede 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #deefff), color-stop(100%, #98bede));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #deefff 0%, #98bede 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #deefff 0%, #98bede 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #deefff 0%, #98bede 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #deefff 0%, #98bede 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );
  /* IE6-9 */
}

/* line 27, ../../app/assets/stylesheets/users.css.scss */
.row.user {
  border: solid 1px #ddd;
  position: relative;
  top: 3em;
  background-color: #FFF;
  box-shadow: 10px 10px 10px #608799;
}

/* line 35, ../../app/assets/stylesheets/users.css.scss */
.user-panel {
  float: left;
  padding: 1em;
  padding-top: 2em;
}

/* line 40, ../../app/assets/stylesheets/users.css.scss */
.middle-user-panel {
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  padding-left: 1em;
  padding-right: 3em;
  padding-bottom: 5em;
  padding-top: 1em;
}

/* line 49, ../../app/assets/stylesheets/users.css.scss */
.user-container {
  margin-bottom: 3em;
  float: left;
  width: 100%;
}

/* line 58, ../../app/assets/stylesheets/users.css.scss */
.achievement-icon {
  margin: 5px;
}

/* line 62, ../../app/assets/stylesheets/users.css.scss */
.points-bar {
  width: 100%;
  overflow: auto;
  padding-left: 9px;
  border-radius: 8px;
}

/* line 69, ../../app/assets/stylesheets/users.css.scss */
.icon {
  width: 2em;
  margin-right: 1em;
}

/* line 73, ../../app/assets/stylesheets/users.css.scss */
.user-social {
  line-height: 2.5em;
  width: 50%;
  float: left;
}

/* line 78, ../../app/assets/stylesheets/users.css.scss */
.social-field {
  width: 60%;
  float: right;
}

/* line 85, ../../app/assets/stylesheets/users.css.scss */
.social-fields {
  float: left;
}

/* line 88, ../../app/assets/stylesheets/users.css.scss */
.social-input {
  float: left;
  margin-bottom: 1em;
}

/* line 95, ../../app/assets/stylesheets/users.css.scss */
.user-field {
  float: left;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1.5em;
  width: 100%;
}

/* line 103, ../../app/assets/stylesheets/users.css.scss */
.user {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

/* line 111, ../../app/assets/stylesheets/users.css.scss */
.user-image img {
  width: 50%;
  float: left;
  margin: 1em;
  max-width: 18em;
}

/* line 118, ../../app/assets/stylesheets/users.css.scss */
.user-basics {
  width: 40%;
  padding: 0;
  float: left;
}

/* line 123, ../../app/assets/stylesheets/users.css.scss */
.user-summary {
  width: 100%;
  margin-left: 1em;
}

/* line 132, ../../app/assets/stylesheets/users.css.scss */
.user-field textarea {
  width: 100%;
  padding: 10px;
}

/* line 137, ../../app/assets/stylesheets/users.css.scss */
.float-right {
  float: right;
}
