<div class="container col-sm-12">
	<div class="row col-sm-12 col-md-12">
		<h2>CARD EXCHANGE</h2>
	</div>
</div>
<div class="row">
	<div class="row col-sm-3 col-md-3">
		<a class="btn btn-large btn-primary create-tournament tournament-btn"<%= link_to "New Card", new_topic_path %></button>
	</div>
	<div class="col-sm-9 col-md-9">
		<ul>
			<% @topics.each do |topic| %>
			<div class="card">
				<%= topic.body %><br><br>
				<strong>Source:</strong> <%= topic.source %><br>
				Posted at <%= topic.updated_at.strftime("%m/%d/%Y %I:%M %P") %>

			</div>
			<br><br>
			<% end %>
		</ul>

	</div>
</div>