<div class="container">
	<h2>Debate Topics</h2>

<button type="button" class="btn btn-default btn-sm wht_txt"><%= link_to "Add Debate Topic", new_topic_path %></button>
<br><br>
<ul>
	<% @topics.each do |topic| %>
		<li><%= link_to topic.name, topic %></li>
	<% end %>
</ul>
</div>