<td>
  <fieldset> <!-- <fieldset><td> ignores last td -->

    <%= f.input :start_time_string, label: false, hint: 'E.g. 8/28/2014 1:30pm', error: false, placeholder: 'MM/DD/YYYY HH:MM(am/pm)', input_html: { class: 'bracket-time', maxlength: 18, size: '30'} %>
    <b class="hide-this" style="color:red">Invalid Date Format <br>or Character Spacing.</b>
      <br>
  		<%= f.hidden_field :_destroy %>
  		<%= link_to "Delete", '#', class: "remove_fields_brackets small-text" %>
  </fieldset>
</td>
