		  	<%= simple_form_for [@tournament, Competitor.new] do |f| %>
		  	<% @divisions = ['Novice','Varsity']%>
		  	<!-- TODO: eventually make @levels dynamic acc to organizer tournament settings -->
		  		<div class="division-field"><%= f.input :division, label: "Choose your Division: ", collection: @divisions %></div>
		  		<hr style="margin-top: 4em; margin-bottom: 2em;">
		  		<div><b>Honor your RSVP. </b>Note that No-Shows may hinder your ability to attend future tournaments. 
		  			Please follow all Entry guidelines and follow through on your RSVP.
		  		</div>
		  		<%= f.button :submit, value: 'Register to Debate', class: 'btn btn-primary tournament-btn' %>
		  	<% end %>
