<div class="division-name-field">
	<%= f.input :name, label: "Division"%>	
</div>
<div class="division-destroy-field">
	<%= f.input :_destroy, label: '', :as => :check_boxes, :collection => ['Remove']%>	
</div>
	