      <%= render 'new_summary', :f => f  %>
    </div>

    <div class="tab-pane fade" id="overview">
      <%= render 'new_overview', :f => f  %>
    </div>

    <div class="tab-pane fade" id="settings-guides">
      <%= render 'new_settings_guides', :f => f  %>
    </div>

    <div class="tab-pane fade" id="final-confirmation">
      <%= render 'new_final_confirm', :f => f  %>

    </div>
