		  	<%= simple_form_for [@tournament, Judge.new] do |f| %>
		  	<% @levels = ['Novice','Novice or Varsity']%>
		  	<!-- TODO: eventually make @levels dynamic acc to organizer tournament settings -->
		  		<div class="division-field"><%= f.input :level, label: "Choose which Division to Judge: ", collection: @levels %></div>
		  		<hr style="margin-top: 4em; margin-bottom: 2em;">
		  		<div><b>Honor your RSVP. </b>Note that No-Shows may hinder your ability to attend future tournaments. 
		  			Please follow all Entry guidelines and follow through on your RSVP.
		  		</div>
		  		<%= f.button :submit, value: 'Register to Judge', class: 'btn btn-primary tournament-btn' %>
		  	<% end %>