<!-- TODO -->


<p>Confirm your tournament details below and provide additional information
  if you are missing any fine details.</p>



   <div class="form-group">
      <div class="col-md-2 control-label">
        <%= f.label :additional_info, "Additional Information" %>
      </div>
      <div class="col-md-10">
        <%= f.text_area :additional_info, rows: 8, cols: 70, class: "form-control" %>
      </div>
    </div>


CONFIRMATION PAGE.


    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
      <%= f.button :submit, :class => 'user-field btn btn-primary', value: 'Organize Tournament' %>
      </div>
    </div>



