      <h3>Tournament Overview</h3>
      <p>This is the first thing debaters and judges read about your tournament. Give a broad overview of things to look forward to at your tournament without diving into the guidelines and rules just yet.</p>
    <p class="description">
      <%= f.label :description, "Tournament Overview" %><br>
      <%= f.text_area :description %>
    </p>
