  cancel
		<span class="cancel-round">
		<%= f.input :kind, label: false, :collection => ['Unpowered Prelim', 'Powered Prelim','Octofinals','Quarterfinals','Semifinals','Finals'] %>
		</span>		

		<span class="cancel-round">
			<%= f.input :_destroy, label: false, :as => :boolean %>
		</span>		
		
