<%= simple_form_for @tournament do |f| %>
	<h4>General</h4>
		<%= link_to 'Edit Your Tournament Description and Guidelines', edit_tournament_path(@tournament), :class => "btn btn-primary tournament-btn" %>
		<h5>Times</h5>
	<h4></h4>
<% end %>
