<h1>Edit tournament</h1>

<% if current_user %>
	<!-- TODO: Info on organizing a tournament -->
	<%= form_for [@tournament], :html => { :multipart => true }, :class => "form-horizontal", :role => "form" do |f| %>

		<% if f.error_messages.match("error") %>
			<div class="alert alert-danger"><%= f.error_messages %></div>
		<% end %>

		<ul class="nav nav-tabs">
		  <li class="active"><a href="#summary" class="tabBar" data-toggle="tab" id="summaryTab">Basic Settings</a></li>

		  <li><a href="#overview" class="tabBar" data-toggle="tab" id="overviewTab">Overview</a></li>

		  <li><a href="#settings-guides" class="tabBar" data-toggle="tab" id="settingsTab"> Settings and Guidelines</a></li>

		  <li><a href="#final-confirmation" class="tabBar" data-toggle="tab" id="confirmTab">Final Confirmation</a></li>
		</ul>

		<!-- TODO: Use EmberJS to provide a LivePreview of final details in a Preview tab (last tab) before submitting -->

		<div class="tab-content">
    <div class="tab-pane active fade in" id="summary">
			<%= render 'form', :f => f  %>

		<% end %>

	<% else %>

	<h3>Sign in to create a tournament</h3>

<% end %>
