<!-- TODO: if new visitor / non-signed in user, routes to the following -->

<%= render 'carousel' %>

<!-- end conditional route -->

<h1>Some more home page content goes here (e.g., tournament news, etc)</h1>

