<div class="container col-sm-12">

	<h2>Lincoln Doulgas Debate Privacy Policy</h2>

	<p>Lincoln Douglas Debate Online takes your privacy seriously. Please read the following to learn more about our privacy policy.
The federal government and technology industry have developed practical tips to help you guard against Internet fraud, secure your computer and protect your personal information.</p>

<p>How Lincoln Douglas Debate Online Uses Your Personal Information
This policy covers how Lincoln Douglas Debate Online treats personal information that Lincoln Douglas Debate Online collects and receives, including information related to your past use of Lincoln Douglas Debate Online products and services. Personal information is information about you that is personally identifiable like your name, address, email address, or phone number, and that is not otherwise publicly available.</p>

<p>This privacy policy only applies to Lincoln Douglas Debate Online
This policy does not apply to the practices of companies that Lincoln Douglas Debate Online does not own or control, or to people that Lincoln Douglas Debate Online does not employ or manage. In addition, some companies that Lincoln Douglas Debate Online has acquired have their own, preexisting privacy policies which may be viewed on our acquired companies page.</p>

<p>
Lincoln Douglas Debate Online's participation in the Safe Harbor program
Lincoln Douglas Debate Online participates in the Safe Harbor program developed by the U.S. Department of Commerce and the European Union. To view our certification, visit the U.S. Department of Commerce's Safe Harbor Web site. For more information about Lincoln Douglas Debate Online's participation in the Safe Harbor program, please visit our Safe Harbor details page.</p>

</div>