<div class = "container">
	<h2>Current Resolution</h2>

<button type="button" class="btn btn-default btn-sm wht_txt"><%= link_to "Add Resolution", new_resolution_path %></button>

<ul><% @resolutions.each do |resolution| %>
    <li>
    	<%= link_to resolution.name, resolution %>
    	<br>
    	<%= resolution.description %>

      </li>
        <% end %>
      </ul>

  </div>