/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// can override vars to twitter boostrap here
.signinbutton {
    height: 40px;
}
.signinbutton-lg {
    height: 60px;
}

.page_container{
	margin: 70px;
}

.wht_txt a:link{
	text-decoration: none;
	color: white;
}

#user_container{
	float: left;
	margin: 45px;
}

#profile{
	padding: 5px;
	border:2px solid;
	border-color: gray;
	border-radius:5px;
	width: 175px;
	position: absolute;
	float:left;

}

#results{
	padding: 5px;
	border:2px solid;
	border-color: gray;
	border-radius:5px;
	position: absolute;
	float:left;
	margin-left: 210px;
}

footer {
  position: relative;
  width: 100%;
  bottom: 0
}
// import original bootstrap
@import "twitter/bootstrap";

