.profile-thumbnail-lg {
  width: 7em;
}

.border {
  border: solid 1px #ddd;
}
.dashboard-container {
  padding: 2em;
  margin: 10px;
  height: 100em;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
