#profile-thumbnail-lg {
  width: 9em;
}

.border {
  border: solid 1px #ddd;
}
.dashboard-container {
  padding: 2em;
  height: 100em;
  background-color: #FCFCFC;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.dashboard {
  max-width: 1500px;
}
.dashboard-container .user-container {
  margin-bottom: 1.5em;
}

/* *********************  Left ******************* */

.achievement-icon-sm span > img{
  width: 4.7em;
}
.tournament-list{
    list-style-image: url('bullets/bullet_trophy.png');
}
.user-container .list-group-item:hover {
    background-color: #E2F6FF;
}

/* ********************** Right ****************** */

.trending {
    max-height: 48em;
    overflow: auto;
}
