textarea {
  width: 80%;
  height: 8em;
}

.button.btn.btn-primary.tournament-btn {
    margin-left: 0;
    position: relative;
    left: 25%;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 0px;
}
.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

.simple_form label {
  width:auto;
}

// NESTED TOURNAMENT FORM

.round-times-field .control-group {
    padding-left: 3em;
    float: left;
}

.divisions-form {
    width: 0;
}
.division-form {
    width: 100%;
    float: left;
    margin-bottom: 4em;
}
.division-destroy-field {
    float: right;
    margin-bottom: 3em;
    margin-top: 2em;    
}

.cancel-round {
    float: right;
    font-weight: normal;    
    margin-right: 2em;
    margin-left: 0.5em;
}
.round-field {
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
}

.add_fields {
    width: 100%;
    position: absolute;
}
.new-division {
    margin-bottom: 4em;
}
.alert.custom-alert {
    color: red;
}
.remove-division{
  margin-bottom: 2em;
  margin-top: 2em;
}

.division-name-field h4 > div > div > input {
    width: 14em;
}

