 #splash {
   padding: 20px;
   padding-bottom: 100px;
   background-color: #ddd;
  font-size: 20px;
   .wrapper {
     width: 1000px;
     margin:  auto;
     border: solid 1px #ddd;
     margin-top: 25px;
     padding: 50px;
     background-color: white;
     box-shadow: 7px 7px 6px 2px #AFAFAF;
     -moz-box-shadow: 7px 7px 6px 2px #AFAFAF;
     -webkit-box-shadow: 7px 7px 6px 2px #AFAFAF;
   }
   header {
     font-size: 24px;
     font-weight: bold;
     padding-bottom: 20px;
   }
   .spoof div {
       padding-bottom: 24px;
     }
   .teaser {
     max-width: 400px;
   }
   #teaser{
     padding-bottom: 24px;
     padding-right: 24px;
     max-width: 100%;
   }
   .sign-in {
     font-size: 14px;
   }
   .member {
     float:left;
     text-align: center;
     small {
       font-size: 12px;
       width: 100%;
     }
   }
}
.orange {
  color: orangered;
}
@media (min-width: 900px) {
  #splash{
    padding-left: 45px;
  }
}