.sidebar + div {
  margin-left: 52px;
}
.sidebar ~ footer {
  margin-left: 52px;
}
.sidebar {
  position: fixed;
  z-index: 10;
  top: 40px;
  width: 50px;
}
.sidebar:hover {
  z-index: 99;
}
#sidebar-icons {

  tr th {
    padding: 10px;
    border: solid 1px #F1F1F1;
  }
  tbody:hover .col2 {
    visibility:  visible;
  }
  tbody {
    background-color: #F8F7ED;
  }
  .col1{
    text-align: center;
  }
  .col2 {
    visibility: hidden;
    font-weight: lighter;
    color: #747474;
  }
}
.filler-row {
  height: 1000px;
  .col2 {
    vertical-align: top;
  }
}