#tournaments-index {
  margin: 3em;
}


.tournament-detail {
  margin: 3em;
}

#upcoming-header {
  text-align: center;
}

// Tournament Listings

.tournament-item {
  margin-bottom: 3em;
  height: 750px;
  overflow: auto;
  overflow-y:hidden;
}

.tournament-date {
  color: #838383;
  margin-top: 1em;
  margin-bottom: 1em;
}

.tournament-image {
    width: 100%;
    margin: 0;
}

.crop {
    width: 100%;
    overflow: hidden;
}

.tournament-btn {
  background-color: #8d3e02 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f16a03", endColorstr="#8c3e02");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f16a03), to(#8c3e02));
  background-image: -moz-linear-gradient(top, #f16a03, #8c3e02);
  background-image: -ms-linear-gradient(top, #f16a03, #8c3e02);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f16a03), color-stop(100%, #8c3e02));
  background-image: -webkit-linear-gradient(top, #f16a03, #8c3e02);
  background-image: -o-linear-gradient(top, #f16a03, #8c3e02);
  background-image: linear-gradient(#f16a03, #8c3e02);
  border-color: #8c3e02 #8c3e02 #743302;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  margin: 10px;
}
.msg-btn {
  background-color: #0C5BC9 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0C5BC9", endColorstr="#19437D");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0C5BC9), to(#19437D));
  background-image: -moz-linear-gradient(top, #0C5BC9, #19437D);
  background-image: -ms-linear-gradient(top, #0C5BC9, #19437D);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0C5BC9), color-stop(100%, #19437D));
  background-image: -webkit-linear-gradient(top, #0C5BC9, #19437D);
  background-image: -o-linear-gradient(top, #0C5BC9, #19437D);
  background-image: linear-gradient(#0C5BC9, #19437D);
  border-color: #19437D #19437D #0C5BC9;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  margin: 10px;
}

.panel-group {
  margin-bottom: 15px;
}

.rsvp {
  padding: 15px;
  background-color: #ddd;
  border: solid 1px #BBB;
  border-radius: 4px;
}

.rsvp-tab {
  background-color: #93D4FF;
  color: #000;
}

.rsvp-tab:hover {
  background-color: #B2DAFF;
}

.rsvp-content.tab-pane.active {
  background-color: white;
  border: solid 1px #ddd;
  padding: 15px;
  border-top-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.tab-width {
  width: 40%;
}

.input.select.optional.debater_level {
  margin: 2.5em;
}

// ******** Edit tournament : summary *********

.tournament-summary-field {
  maxlength: 500;
}
.tournament-name-field {
  maxlength: 70;
}

// ******* TOURNAMENT DASHBOARD


.tournament-dashboard {
    background-color: #ddd;
    padding: 1em;
}


