#tournaments-index {
  margin: 3em;
}
.tournament-detail {
  margin: 3em;
}
#upcoming-header {
  text-align: center;
}
// Tournament Listings

.tournament-item {
  height: 49em;
  overflow: auto;
  overflow-x: hidden;
  margin: 2em;
  padding: 1em;
  float:left;
}

.tournament-date {
  color: #838383;
  margin-top: 1em;
  margin-bottom: 1em;
}

.tournament-image {
    width: 100%;
    margin: 0;
}

.crop {
    width: 100%;
    overflow: hidden;
}
.panel-group {
  margin-bottom: 15px;
}
.rsvp {
  padding: 15px;
  background-color: #ddd;
  border: solid 1px #BBB;
  border-radius: 4px;
}

.rsvp-tab {
  background-color: #93D4FF;
  color: #000;
}

.rsvp-tab:hover {
  background-color: #B2DAFF;
}

.rsvp-content.tab-pane.active {
  background-color: white;
  border: solid 1px #ddd;
  padding: 15px;
  border-top-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.tab-width {
  width: 40%;
}

.input.select.optional.debater_level {
  margin: 2.5em;
}

// ******** Edit tournament summary *********

.tournament-summary-field {
  maxlength: 500;
}
.tournament-name-field {
  maxlength: 70;
}

// ******* TOURNAMENT DASHBOARD

#tourney-start {
    margin-left: 10px;
}

.tournament-dashboard {
    background-color: #ddd;
    padding: 1em;
}


