.content-container {
    max-width: 900px;
    width: 100%;
    margin: auto;

  header {
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FCFBF4;
    border: solid 1px #F5F5F5;
  }
  article {
    padding: 10px;
  }
}
.social {
  padding-top: 30px;
  padding-bottom: 10px;
}
.social > a {
  padding-right: 30px;
}
.icon {
  width: 22px;
}

.user {
  width: 40%;
    img {
      width: 100%;
      max-width: 250px;
    }
    .points {
        font-size: 28px;
      text-align: center;
    }
    .rep {
        color: orangered;
    }
    .rank {
        color: orange;
    }
}

.right-half {
  width: 60%;
  div {
    width: 100%;
    input {
      width: 100%;
    }
    form {
      padding-top: 30px;
    }
  }
  table {
    list-style: none;
    padding-left: 10px;
    font-size: 12px;
    width: 100%;
    tr {
      vertical-align: top;
      th{
        padding-left: 10px;
        font-weight: normal;
        color: #949494;
        width: 125px;
      }
      td {
        padding-bottom: 10px;
      }
    }
  }
}
.self-summary {
  padding: 10px;
  background-color: #ddd;
  font-size: 12px;
  max-height: 260px;
  overflow: auto;
}
.self-summary:focus {
  outline-color: #63553D;
}

.self-summary + small {
  color: #969696;
}
.saved {
  color: grey;
  font-weight: bold;
}
.orange-link {
  color: orange;
}
.orange-link:hover {
  text-decoration: underline;
}

/* Social Media Form */

#edit-links-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  font-size: 12px;
  input {
    margin-bottom: 12px;
  }
}


/*

.divider {
  width: 100%;
  float: left;
}

.row.user {
    border: solid 1px #ddd;
    position: relative;
    top: 3em;
    background-color: #FFF;
    box-shadow: 10px 10px 10px #608799;
}

.middle-user-panel {
    border-left: solid 1px #ddd;
    padding-left: 1em;
    padding-right: 3em;
    padding-bottom: 5em;
    padding-top: 1em;
}

.user-container {
  margin-bottom: 3em;
  float: left;
  width: 100%;
}

.user-panel {
    float: left;
    padding: 1em;
    padding-top: 2em;
    height: 103em;
    overflow: auto;
}



.achievement-icon {
  margin: 5px;
}

.points-bar{
  width: 100%;
  overflow: auto;
  padding-left: 9px;
  border-radius: 8px;
}

.icon {
  width: 2em;
  margin-right: 1em;
}
.user-social {
  line-height: 2.5em;
  width: 50%;
  float: left;
}
.social-field {
    width: 60%;
    float: right;
}



.social-fields {
    float: left;
}
.social-input {
    float: left;
    margin-bottom: 1em;
    width: 100%;
}



.user-field{
  float: left;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1.5em;
  width: 97%;
}
.user{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

.user-basics {
    width: 40%;
    padding: 0;
    float: left;
}
.user-summary {
    width: 100%;
    margin-left: 1em;
}



#update-tournament {
  width: 100%;
}
.user-field textarea {
    width: 100%;
    padding: 10px;
}
.float-right {
  float: right;
}




.user-paradigm ul {
    list-style: none;
    margin-top: 0.25em;
}
.user-paradigm ul li {
    margin-top: 0.5em;
}

.user-paradigm > ul > li {
    margin-bottom: 3em;
}
*/