
<div id="about">

	<div class="row featurette">
	        <div class="col-md-7">
	          <h2 class="featurette-heading">Amy Hua & Leandra Tejedor <span class="text-muted">Built a Web App Called "Lincoln Doulgas Debate".</span></h2>
	          <p class="lead">Code Fellows Gold Class</p>
	           <p class="lead">Summer 2013</p>
	        </div>
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive" src="http://i.imgur.com/AijfFW9.jpg" alt="500x500" width = "500px">
	        </div>
	      </div>

	<hr class="featurette-divider">

	<div class="row featurette">
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive" src="http://i.imgur.com/4lEC2Jj.jpg" alt="500x500" width="500px">
	        </div>
	        <div class="col-md-7">
	          <h2 class="featurette-heading">Problems <span class="text-muted">This App Solves</span></h2>
	          <p class="lead">Spoilers: all of them. Kids wanna debate. Uhm. Amy, I think this is you.</p>
	        </div>
	      </div>

	<hr class="featurette-divider">

	<div class="row featurette">
	        <div class="col-md-7">
	          <h2 class="featurette-heading">Approach <span class="text-muted">That We took</span></h2>
	          <p class="lead">We created a system for tournaments to be run and judged, as well as a place for students to share information, ideas, and put up cases for critique by other students in the community.</p>
	        </div>
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive" src="http://i.imgur.com/Rf619ih.jpg" alt="500x500" width="500px">
	        </div>
	      </div>

	<hr class="featurette-divider">


	<div class="row featurette">
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive" src="http://i.imgur.com/HK2Ow1i.jpg" alt="500x500" width="500px">
	        </div>
	        <div class="col-md-7">
	          <h2 class="featurette-heading">Challenges <span class="text-muted">And Overcoming Them</span></h2>
	          <p class="lead">Some problems came up in testing, as it was difficult to combine Capybara and OmniAuth for Google. It's also a big project, so keeping track of what had to be done, and what level those things were on was difficult.</p>
	        </div>
	      </div>

	      	<hr class="featurette-divider">

	      <div class="row featurette">
	        <div class="col-md-7">
	          <h2 class="featurette-heading">What's Next <span class="text-muted">For Lincoln Douglas Debate Online</span></h2>
	          <p class="lead">We're planning to make it into more of a social networking site. Users will be able to have friends. They will collect badges and points based on their activities, and those will be displayed for others to see. There will be incentives to judge tournaments, and to critique cases and submit cards.</p>
	        </div>
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive" src="http://i.imgur.com/MudOnJU.jpg" alt="500x500" width = "500px">
	        </div>
	      </div>

	    	<hr class="featurette-divider">


	<div class="row featurette">
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive" src="http://www.codefellows.org/assets/logo.png" alt="500x500">
	        </div>
	        <div class="col-md-7">
	          <h2 class="featurette-heading">Thank You <span class="text-muted">Code Fellowers!</span></h2>
	          <p class="lead">Amy Hua & Leandra Tejedor</p>
	        </div>
	      </div>

</div>

