
<div id="about">

	<div class="row featurette">
	        <div class="col-md-7">
	          <h2 class="featurette-heading">Built by Amy Hua & Leandra Tejedor</h2>
	          <p class="lead">Code Fellows Gold Class</p>
	           <p class="lead">Summer 2013</p>
	        </div>
	        <div class="col-md-5">
	        	<div class="about-container">
		          <img class="featurette-image img-responsive" src="https://0.gravatar.com/avatar/9251c3ea7d4d806598d704a9368bb22c?d=https%3A%2F%2Fidenticons.github.com%2Fa6e6caec9c305eb3294e30939a559365.png&s=400" alt="Leandra" width = "250px">
		          <img class="featurette-image img-responsive" src="https://2.gravatar.com/avatar/a6367ac7e011d8ea1fac9bb4af424b3d?d=https%3A%2F%2Fidenticons.github.com%2Fdbb02a4a4c7fb43d94a3520665b4aaab.png&s=420" alt="Amy" width = "250px">
		        </div>
	        </div>
	      </div>

	<hr class="featurette-divider">

	<div class="row featurette">
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive" src="http://i.imgur.com/4lEC2Jj.jpg" alt="500x500" width="500px">
	        </div>
	        <div class="col-md-7">
	          <h2 class="featurette-heading">Lincoln Douglas Debate <span class="text-muted">is a valuable type of one-on-one high school debate</span></h2>
	          <p class="lead">
	          	<ul>
	          		<li class="lead">
	          			Currently competed by thousands of high schools around the nation.
	          		</li>
	          		<li class="lead">
	          			Teaches valuable skills in research, critical thinking, writing, communication, time management,and hard work.
	          		</li>
	          		<li class="lead">
	          			Large tournament overhead and intellectual resource requirements force high school debate into being a largely elitist, unaccessible activity.
	          		</li>
	          	</ul>
	        </div>
	      </div>

	<hr class="featurette-divider">

	<div class="row featurette">
	        <div class="col-md-7">
	          <h2 class="featurette-heading">An online community and virtual tournament platform <span class="text-muted">can make high school debate a more enriching and enjoyable activity for all</span></h2>
	          	<ul>
	          		<li class="lead">
	          			Destroy barriers to entry
	          		</li>
	          		<li class="lead">
	          			Make tournaments fun, remote, and easy
	          		</li>
	          		<li class="lead">
	          			Increase resources, participation and engagement nationwide.
	          		</li>
	          	</ul>
	        </div>
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive" src="http://i.imgur.com/Rf619ih.jpg" alt="500x500" width="500px">
	        </div>
	      </div>


	    	<hr class="featurette-divider">


	<div class="row featurette">
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive" src="http://www.codefellows.org/assets/logo.png" alt="500x500">
	        </div>
	        <div class="col-md-7">
	          <h2 class="featurette-heading">Developed during <span class="text-muted">Code Fellows</span></h2>
	          <p class="lead">View our <a href="https://github.com/ltejedor/lincoln_douglas_debate">Github</a></p>
	          <p class="lead">Amy Hua & Leandra Tejedor</p>
	        </div>
	      </div>

</div>

