  <!-- CUSTOM STYLES FOR CAROUSEL TEMPLATE; goes after all other CSS files-->
  <link href="/assets/carousel.css" rel="stylesheet">
  <style id="holderjs-style" type="text/css">.holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}</style>
  <link type="text/css" rel="stylesheet" href="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/style.css">
  <script type="text/javascript" charset="utf-8" src="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/page_context.js"></script>
  <!-- end -->


<div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active" id="carousel-image-home-1">
          <div class="container">
            <div class="carousel-caption signedin">
              <!-- TODO: replace dummy caption -->
              <h1>Welcome to the massive online community of Lincoln Douglas Debaters.</h1>
              <p>This site allows Lincoln Douglas Debate Tournaments, all online! Log in, start your own tournaments, share resources, and get critiqued!</p>
              <p>
              	<%= link_to image_tag("signin_button.png", class: "signinbutton-lg"), "/auth/google_oauth2" %>
			  </p>

            </div>
          </div>
        </div>
        <div class="item" id="carousel-image-home-2">
          <div class="container">
            <div class="carousel-caption signedin">
            	<!-- TODO: replace dummy caption -->
              <h1>Find a Community</h1>
              <p>Lincoln won lots of tournaments. don't you want to be like Lincoln?</p>
              <p>
              	<%= link_to image_tag("signin_button.png", class: "signinbutton-lg"), "/auth/google_oauth2" %>
			  </p>
            </div>
          </div>
        </div>
        <div class="item" id="carousel-image-home-3">
          <div class="container">
            <div class="carousel-caption">
            	<!-- TODO: replace dummy caption -->
              <h1>Connect with students from around the world</h1>
              <p>Meet debators froma all over, without ever getting on a plane. Compete in and win tournaments from your school. And get as much practice as you want without having to have friends in real life who also like debate!</p>
              <p>
              	<%= link_to image_tag("signin_button.png", class: "signinbutton-lg"), "/auth/google_oauth2" %>
			  </p>
            </div>
          </div>
        </div>
      </div>	
      
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

