  <!-- CUSTOM STYLES FOR CAROUSEL TEMPLATE; goes after all other CSS files-->
  <link href="/assets/dashboard_carousel.css" rel="stylesheet">
  <style id="holderjs-style" type="text/css">.holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}</style>
  <link type="text/css" rel="stylesheet" href="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/style.css">
  <script type="text/javascript" charset="utf-8" src="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/page_context.js"></script>
  <!-- end -->


<div id="myCarousel" class="carousel slide">
      <!-- Indicators Omitted -->
      <div class="dashboard-carousel carousel-inner">
        <div class="item dashboard-carousel-bg active">
          <div class="container">
            <div class="dashboard-carousel carousel-caption caption-box">
              <!-- TODO: replace dummy caption -->
              <h3>The Jan/Feb Topic just got released</h3>
              <p class="lead news-text"><b>Resolved:</b> Donuts should not have holes in them. Discuss the new topic <a href="#">here</a>.</p>

            </div>
          </div>
        </div>
        <div class="item dashboard-carousel-bg">
          <div class="container">
            <div class="dashboard-carousel carousel-caption caption-box">
              <!-- TODO: replace dummy caption -->
              <h3>News Flash!</h3>
              <p class="lead news-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <a href="#">nostrud exercitation</a> ullamco laboris nisi ut aliquip ex ea commodo </p>
            </div>
          </div>
        </div>
        <div class="item dashboard-carousel-bg">
          <div class="container">
            <div class="dashboard-carousel carousel-caption caption-box">
              <!-- TODO: replace dummy caption -->
              <h3>So and So just won another tournament, a 3 time undefeated champion!</h3>
              <p class="lead news-text"><a href='#'>ad minim veniam</a>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe</p>
            </div>
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

