<table id="sidebar">
  <tr>
    <td class="col1"><span class="glyphicon glyphicon-align-justify"></span></td><td class="col2">Collapse</td>
  </tr>
  <tr>
    <td class="col1"><span class="glyphicon glyphicon-bullhorn"></span></td><td class="col2">News</td>
  </tr>
  <tr>
    <td class="col1"><span class="glyphicon glyphicon-dashboard"></span></td><td class="col2">Dashboard</td>
  </tr>
  <tr>
    <td class="col1"><span class="glyphicon glyphicon-comment"></span></td><td class="col2">Messages</td>
  </tr>
  <tr>
    <td class="col1"><span class="glyphicon glyphicon-flash"></span></td><td class="col2">Notifications</td>
  </tr>
  <tr>
    <td class="col1"><span class="glyphicon glyphicon-heart"></span></td><td class="col2">Favorites</td>
  </tr>
  <tr>
    <td class="col1"><span class="glyphicon glyphicon-user"></span></td><td class="col2">People</td>
  </tr>
  <tr>
    <td class="col1"><span class="glyphicon glyphicon-tower"></span></td><td class="col2">Tournaments</td>
  </tr>
  <tr>
    <td class="col1"><span class="glyphicon glyphicon-calendar"></span></td><td class="col2">Schedule</td>
  </tr>
  <tr>
    <td class="col1"><span class="glyphicon glyphicon-question-sign"></span></td><td class="col2">Forums</td>
  </tr>
  <tr>
    <td class="col1"><span class="glyphicon glyphicon-cog"></span></td><td class="col2">Settings</td>
  </tr>
  <tr>
    <td class="col1"><span class="glyphicon glyphicon-off"></span></td><td class="col2">Sign Out</td>
  </tr>
</table>