  <!-- CUSTOM STYLES FOR CAROUSEL TEMPLATE; goes after all other CSS files-->
  <link href="/assets/carousel2.css" rel="stylesheet">
  <style id="holderjs-style" type="text/css">.holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}</style>
  <link type="text/css" rel="stylesheet" href="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/style.css">
  <script type="text/javascript" charset="utf-8" src="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/page_context.js"></script>
  <!-- end -->

<div id="myCarousel" class="carousel slide">
      <!-- Indicagitors -->

      <div class="carousel-inner">
        <div class="item active">
          <img src="http://colocrossing.com/images/map-filler.jpg"  alt="First slide" style="height: 600px; display: block;">
          <div class="container">

            <div class="carousel-caption">
              <!-- TODO: replace dummy caption -->
              <h1>TOURNAMENT NEWS</h1>
              <p>Recent Winners:</p>
              <!-- TODO: replace dummy link to #signup -->
              <p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p>
            </div>
          </div>
        </div>

          <div class="container">

          </div>
        </div>
      </div>

    </div>
