  <!-- CUSTOM STYLES FOR CAROUSEL TEMPLATE; goes after all other CSS files-->
  <link href="/assets/carousel2.css" rel="stylesheet">
  <style id="holderjs-style" type="text/css">.holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}</style>
  <link type="text/css" rel="stylesheet" href="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/style.css">
  <script type="text/javascript" charset="utf-8" src="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/page_context.js"></script>
  <!-- end -->

<div id="myCarousel" class="carousel slide">
      <!-- Indicagitors -->

      <div class="carousel-inner">
        <div class="item active">
          <img src="http://extras.mnginteractive.com/live/media/site36/2012/1002/20121002__20121003_S9_cd03pelxexpertspic~p1.jpg"  alt="First slide" style="height: 600px; display: block;">
          <div id="container">

            <div class="carousel-caption signedin">
              <!-- TODO: replace dummy caption -->
              <h1>TOURNAMENT NEWS</h1><br>
              <!-- TODO: replace dummy link to #signup -->
             <center> <div class="row">

    <div class="col-sm-4 col-md-4 tournament-item">
      <p><img width = "120px" src= "https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash3/q75/s320x320/62178_975646345089_1975734693_n.jpg" ></p>
      <p><b>Jess Whitman</b></p>
      <p>First Place in Tournament of Ages!</p>
    </div>
    <div class="col-sm-4 col-md-4 tournament-item">
      <p><img width = "120px" src= "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/c36.36.454.454/s160x160/6725_1926158437117_37364122_n.jpg" ></p>
      <p><b>Jane Smith</b></p>
      <p>Just received Sportsmanship Badge!</p>
    </div>
    <div class="col-sm-4 col-md-4 tournament-item">
      <p><img width = "120px" src= "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/c212.48.462.462/s160x160/993331_754641023130_628688911_n.jpg" ></p>
      <p><b>Ivan Terrible</b></p>
      <p>Started the Grand Moscow Tournament!</p>
    </div>
  </div></center>

            </div>
          </div>
        </div>

          <div class="container">

          </div>
        </div>
      </div>

    </div>
